@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* { 
    box-sizing: border-box;
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

html { 
    height: 100%;
    width: 100%;
}

body { 
    height: 100%;
    width: 100%;
}

.wrapper { 
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header { 
    width: 100%;
    height: 3%;
    background-color: rgb(110, 226, 86);
    display: none;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
}

footer { 
    width: 100%;
    height: 2%;
    background-color: rgb(6, 15, 6);
    display: none;
}

#sideBar { 
    height: 100%;
    width: 20%;
    min-width: 20%;
    border-right: solid black 2px;
    background-color: rgb(242, 253, 241);
    display: flex;
    flex-direction: column;
    display: flex;
}

.buttonBox{ 
    width: 100%;
    height: 20%;
    min-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonBox div{ 
    cursor: pointer;
    width: 80%;
    height: 30%;
    border: solid rgb(26, 153, 26) 3px;
    background-color: rgb(26, 153, 26);
    border-radius: 2em;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationBox{ 
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;
}

.navigationWrapper { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1em;
    width: 80%;  
}

.navigationWrapper div{ 
    margin: 5% 0;
    cursor: pointer;
    width: 100%; 
    height: max-content;
}

#toDosZone { 
    height: 100%;
    width: 80%;
    min-width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5%;
    background-image: url(https://wallpapershome.ru/images/wallpapers/toskana-3840x2160-italiya-pole-16282.jpg);
}

#mainTaskZoneWrapper{
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1.75px solid grey;
    background-color: rgb(245, 245, 245);
}

.todoDeadline { 
    border-bottom: none;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    font-size: larger;
    color: rgb(100, 100, 100);
    font-weight: bold;
    cursor: pointer;
} 

.todoDeadline.mouseon{ 
    border-bottom: 1.5px solid grey;
    border-top:1.5px solid grey;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    font-size: larger;
    color: rgb(0, 0, 0);
    font-weight: bold;
} 

#competedTasks{
    height: 70%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1.75px solid grey;
    background-color: rgb(245, 245, 245);
}

.completedTask{ 
    border-bottom: none;
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    font-size: larger;
    color: rgb(100, 100, 100);
    font-weight: bold;
    cursor: pointer;
}

.completedTask.mouseon{ 
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    font-size: larger;
    color: rgb(0, 0, 0);
    font-weight: bold;
} 

#modalWindow{ 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10; 
    background-color: rgb(251, 255, 252);
    height: 80%;
    width: 35%;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#modalWindow.active{ 
    transform: translate(-50%, -50%) scale(1);
}

#modalWrapper{ 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 100%;
    min-width: fit-content;
    min-height: fit-content;
}

#modalWindow input { 
    background-color: transparent;
    outline:none;
    border: none;
    color: black;
    width: 80%;
    height: 10%;
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 3%;
    min-width: fit-content;
    min-height: fit-content;
}

#modalDeadline { 
    width: 80%;
    height: 12%;
    display: flex;
    flex-direction: column;
    font-size: 140%;
    justify-content: space-between;
    min-width: fit-content;
    min-height: fit-content;
}

#deadlinesWrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 58%;
    color: rgb(78, 78, 78);
    font-size: 120%;
}

#deadlinesWrapper div{
    cursor: pointer;
}

#modalNotes { 
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: large;
    min-width: fit-content;
    min-height: fit-content;
}

#modalNotes textarea { 
    width: 100%;
    height: 80%;
    text-align: start;
    font-size: medium;
    border: none;
    resize: none;
    background-color: transparent;
    outline: 1px solid rgb(78, 78, 78);
    cursor: pointer;
    min-width: fit-content;
    min-height: fit-content;
    padding: 2% 0 0 2%;
}

#modalWindow button { 
    height: 10%;
    width: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: larger;
    border-top: 1px solid black;
    margin-top: 10%;
    min-width: fit-content;
    min-height: fit-content;
}

::placeholder{ 
    color: rgb(26, 153, 26);
    font-style: italic;
    font-size: 110%;
    text-align: start;
    font-weight: bolder;
}

#overlay { 
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active { 
    pointer-events: all;
    opacity: 1;
}

.holder { 
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    transition: 200ms ease-in-out;
}

#task { 
    width: 100%;
    height: 32px;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    padding: 0 5%;
}

#task h3{ 
    font-weight: 599;
    cursor: pointer;
}

.completeCircle{ 
    width: 18px;
    height: 18px;
    border:1.99px solid black;
    border-radius: 90px;
    margin-right: 5%;
    cursor: pointer;
}

#modalInfo { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10; 
    background-color: rgb(251, 255, 252);
    height: 75%;
    width: 45%;
    display: flex; 
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

#modalInfo.active{ 
    transform: translate(-50%, -50%) scale(1);
}

#modalMainInfo { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 70%;
    text-align: left;
    padding: 2% 0 0 2%;
}

#modalMainInfo h2 { 
    height: 10%;
    width: 100%;
}

#modalSideBar { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 30%;
    background-color: rgb(245, 245, 245);
    border-left: 1px solid rgb(78, 78, 78);
}

#modalInfoDeadline { 
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    padding: 5% 5%;
    text-align: left;
}

#modalInfoDeadline div { 
    height: 15%;
    width: 100%;
    color: rgb(78, 78, 78);
    font-size: xx-large  ;
    text-align: left;
    cursor: pointer;
}

#buttonsSection { 
    height: 30%;
    width: 100%;
    display: flex; 
    justify-content: space-around;
    align-items: flex-end;
    padding: 0 0 5% 0;
}

#cancel { 
    height: 40px;
    width: 40px;
    border-radius: 20px;
    color: white;
    background-color: rgb(192, 45, 45);
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 1%;
}

#apply{ 
    height: 40px;
    width: 40px;
    border-radius: 20px;
    color: white;
    background-color: rgb(25, 112, 25);    
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: 100;
    padding-bottom: 2%;
}

#tagsContainer { 
    height: 90%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2%;
}
#tags { 
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: flex-end;
    row-gap: -1000px;
    flex-wrap: wrap;
}

.tag { 
    width: 33%;
    margin: 0% 5%;
    height: 30px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(117, 23, 105);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    opacity: 50%;
}

.chosen { 
    opacity: 100%;
}

#Important{
    background-color:red;
}
#Urgent{
    background-color:orangered ;
}
#Workrelated{
    background-color:rgb(0, 26, 255) ;
}
#Selfrelated{
    background-color:green ;
}

.ImportantNavigation { 
    color:red;
    font-weight: 900;
}
.UrgentNavigation { 
    color:orangered;
    font-weight: 900;
}
.WorkrelatedNavigation { 
    color:rgb(0, 26, 255);
    font-weight: 900;
}
.SelfrelatedNavigation { 
    color:green;
    font-weight: 900;
}
            
